@charset "utf-8";

/* General styles */

body {
  font-size: 12px; 
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  padding: 10px 20px;
  margin: 0;
  background: #fff;
  color: #333;
}

/* Specific styles */
.container, .wrapper, .wrapper > li {
  margin: 0;
  padding: 0;
  position: relative;
}

.container {
  outline: 1px solid #ccc;
  width: 1000px;
  height: 500px;
}


#paginated {
  white-space: nowrap;
}

#paginated .wrapper{
  display: inline-block;
}

#paginated .wrapper {
  font-size: 0;
}

.wrapper > li {
  width: 1000px;
  height: 500px;
  display: inline-block;
}

.wrapper > li > div {
  float:left;
  width: inherit;
  height: inherit;
  display: inline-block;
}
.wrapper > li > div > div {
  float:left;
  margin:10px 10px;
}
.row
{
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgb(34,35,52);
  
}
.row > div {
    background:rgba(34,35,52, 0.15 );
    opacity:1;
    position:relative;
}

.row > div:first-child  {
  height:480px;
  width:680px;
}
.row > div:nth-child(2) {
  height:280px;
  width:280px;
}
.row > div:nth-child(3) {
  height:180px;
  width:280px;
}
.row > div:first-child >img {
  height:480px;
  width:680px;
  opacity: 0.5;
}
.row > div:nth-child(2) > img {
  height:280px;
  width:280px;
  opacity: 0.5;
}
.row > div:nth-child(3) > img {
  height:180px;
  width:280px;
  opacity: 0.5;
}

.corner
{
position: absolute;
z-index: 2;
color: white;
font-size: 24px;
right: 0;
top: 0;
}
